pandas
transformers
datasets
evaluate
torchmetrics
torchvision
tqdm
sentencepiece
jsonlines
nltk
scikit-learn
huggingface-hub
numpy
scipy
urllib3
six
torch
bert_score
tqdm
pandas
datasets
accelerate
sacremoses